@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextLTPro-Regular.otf');
}

.root {
    -fx-font-family: "Avenir";
    -fx-font-color: black;
}


.btn {
    -fx-background-color: transparent;
}

.btn:active {
    -fx-background-color: white;
}

.btn:hover {
    -fx-background-color: #dee8e2;
    -fx-border: solid 1px;
    -fx-text-align: center;
    -fx-margin: 5px;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
}

.bgr {
    -fx-background-color: #dee8e2;
}

.titel{
    -fx-font-size: 60px;
}


.label { 
    -fx-font-weight: bold ;
}

.titelLinks .label {
  -fx-alignment: CENTER_LEFT;
}

.allButtons{
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.orangeBtn {
    -fx-background-color: #F3CAAA;
    -fx-border-width: 2px;
}

.orangeBtn:hover{
    -fx-background-color: white;
    -fx-border-color: #F3CAAA;
    
}

.terugBtn {
    -fx-background-color: #F3CAAA;
    -fx-border-color: #F3CAAA;
}

.terugBtn:hover {
    -fx-background-color: #dee8e2;
    -fx-border-width: 2px;
    -fx-border-color: #F3CAAA;
}

.placeholder {
    -fx-font-size: 20;
}

.greyBtn {
    -fx-background-color: #D8D9D5;
    -fx-border-width: 2px;
}

.greyBtn:hover {
    -fx-background-color: white;
    -fx-border-color: #D8D9D5;
}

.greenBtn {
    -fx-background-color: #dee8e2;
    -fx-border-width: 2px;
}

.greenBtn:hover {
    -fx-background-color: #B5C9C3;
}


.table-view .column-header.name-column {
    -fx-base: #C5C6C2; 
}

.table-view .column-header .label {
    -fx-font-weight: bold;
}


.table-cell.name-column {
}

.greyDropdown {
    -fx-background-color: #C5C6C2;
}

.greyDropdown:hover {
    -fx-background-color: #9E9E9B;
}

TextField {
    -fx-background-color: #F3F2ED;
}

.date-picker .text-field {
    -fx-control-inner-background: #F3F2ED ;
}

.addBtn {
    -fx-background-color: #dee8e2;
    -fx-border-width: 2px;
}

.addBtn:hover {
    -fx-background-color: #B5C9C3;
}

.removeBtn {
    -fx-background-color: #F3F2ED;
    -fx-border-width: 2px;
}

.removeBtn:hover {
    -fx-background-color: #B14643;
}
 


