@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextLTPro-Regular.otf');
}

.root {
    -fx-font-family: "Avenir";
    -fx-font-color: black;
    -fx-focus-color: transparent;
}

.hoofdMenuLabel{
    -fx-font-size: 25px;
    -fx-background-color: #dee8e2;
    -fx-border-width: 0 0 1 0;
    -fx-border-padding: 0 0 0 0;
    -fx-border-color:#996888;
}


.btn {
}


.btn:hover {
    -fx-background-color: #dee8e2;
    -fx-border: solid 1px;
    -fx-text-align: center;
    -fx-margin: 5px;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
}

.bgr {
    -fx-background-color: #dee8e2;
}

.detailScherm{
    -fx-background-color: #E1DDE7; 
    -fx-background-radius:15px;
}

.titel{
    -fx-font-size: 60px;
}


.label { 
    -fx-font-weight: bold ;
}

.titelLinks .label {
  -fx-alignment: CENTER_LEFT;
}

.allButtons{
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.orangeBtn {
    -fx-background-color: #996888;
    
}

.terugBtn {
    -fx-background-color: #996888;
    -fx-background-radius: 20;
    -fx-text-fill: white;
}

.terugBtn:hover {
    -fx-background-color: #B6C8C0;
    -fx-text-fill: black;
}

.placeholder {
    -fx-font-size: 20;
}

.greyBtn {
    -fx-background-color: #D8D9D5;
    -fx-background-radius: 20;
}

.greyBtn:hover {
    -fx-background-color: #E2BBBA;
}

.greenBtn {
    -fx-background-color: #dee8e2;
    -fx-border-width: 2px;
}

.greenBtn:hover {
    -fx-background-color: #B5C9C3;
}


.table-view .column-header.name-column {
    -fx-base: #C5C6C2; 
}

.table-view .column-header .label {
    -fx-font-weight: bold;
}

.table-row-cell .kleineTabel {
    -fx-background-color: #FAEBE0;
}


.table-cell.name-column {
}

.greyDropdown {
    -fx-background-color: #D8D9D5;
}

.greyDropdown:hover {
    -fx-background-color: #9E9E9B;
}



TextField {
    -fx-background-color: white;
}

.check-box.box {

    -fx-box-color: #D8D9D5;
    

}

DatePicker {
    -fx-background-color: #D8D9D5 ;
}

.date-picker .text-field {
    -fx-control-inner-background: white ;
    
}

.addBtn {
    -fx-background-color: #dee8e2;
    -fx-border-width: 2px;
}

.addBtn:hover {
    -fx-background-color: #B5C9C3;
}

.removeBtn {
    -fx-background-color: #F3F2ED;
    -fx-border-width: 2px;
}

.removeBtn:hover {
    -fx-background-color: #E2BBBA;
}

.txa {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-control-inner-background: white ;
    -fx-focus-color: transparent;
    -fx-border-color: white;
}

.txa .content {
    -fx-background-radius: 10 ;
    -fx-border-radius: 10;
}

.mk{
    -fx-background-color: #B6C8C0;
    
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.mk:selected{
    -fx-background-color: #996888;
    
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}


.mk:hover{
    -fx-background-color: #996888;
    -fx-text-fill: white;
    
}

.crud {
    -fx-background-color: #dee8e2;
    
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.crud:hover{
    -fx-background-color: #B5C9C3;
}

.selectionbar {
    -fx-selection-bar: #E1DDE7; 
    -fx-selection-bar-non-focused: #E1DDE7;
}


.table-row-cell:selected .text {
    
}

 


